body {
	margin: auto;
	font-family: Helvetica;
}

#logo {
	height: 80px;
	width: 80px;
}

#container {
	display: flex;
	align-items: center;
	align-content: center;
	height: 100vh;
	flex-direction: column;
}

.hooter {
	height: 20px;
	width: auto;
	background-color: grey;
}